.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    height: 86px;
    background: #333333;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}