.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    position: sticky;
    top: 0;
    background: #333333;

    height: 8.7vh;
}

.cart {
    display: flex;
    gap: 8px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 28px;
    height: 28px;
    padding: 4px;
    color: white;
    gap: 10px;
    border-radius: 8px;
    background: #F50;

    font-size: 1.414vh;
    font-weight: 700;
}

.text {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
