.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    
    width: 100%;
    height: 168px;
    
    background: #FFFFFF;
    border-radius: 8px;
}

.image {
    border-radius: 8px;
}

.title {
    display: flex;
    flex-direction: column;
}

.counter {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
}

.counter button {
    display: flex;
    align-items: center;
    background-color: #FF5500;
    border: 0px;
    border-radius: 4px;
}

.counter img {
    padding: 4px;
}

.counter button:hover {
    background-color: #E94E00;
}

.counter button:disabled {
    background-color: #FFA375;
}