.container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 16px;

    font-size: 16px;
    line-height: 24px;
}

.container h1 {
    font-size: 32px;
    margin-bottom: 8px;
    border-radius: 8px;
    background: #FFF;
    width: 100%;
    padding: 24px;
}